@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Building Web application with ASP.NET Core 6</p>
    <p><strong>Creator: @ViewData["Creator"]</strong></p>
    <p>More informations: <a href="https://www.linkedin.com/in/marccosousa/">LinkedIn</a></p>
</div>
